   <!-- this prototype bubble is cloned in bubbles.js 
        and instantiated everytime a link is clicked -->
   <div id="entry_div_box_proto" draggable="true">
        <div class="entry">
            <input type="submit" name="close_entry" value="x" class="x_button" onClick="close_bubble(this.parentNode.parentNode.id)">
            <div class="big_content_box">
                <form action="" method="post">
                    <div class="content_header"></div>
                    <div class="entry_content_box"></div>
                </form>
            </div>
            <p>
        </div>
    </div>

