<br>
<br>
<div class="navbar-inverse my-footer">
    <div class="container-fluid">
        <div class="col-md-4">
            <p class="text-center navbar-text">{{.Config.Email}}</p>
        </div>
        <div class="col-md-4 container span12">
            <p class="text-center navbar-text">This site was assembled by Bloke</p>
        </div>
        <div class="col-md-4">
            <p class="text-center navbar-text"><a href="https://blog.coinculture.info">{{.Config.Site}}</a></p>
        </div>
    </div>
</div>
