
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
            {{ $subprojs := .Globals.SubProjects }}
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                {{range $proj := .Globals.Projects}}
                    {{ $proj0 := index $proj 0}}
                    {{ $sp := index $subprojs $proj0}}
                    {{ if $sp }}
                        <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{index $proj 1}}<span class="caret"></span></a>
                          <ul class="dropdown-menu" role="menu">
                            {{ range $s := $sp }} 
                            <li><a href="#/" onClick="get_page_data('{{index $proj 0}}/{{index $s 0}}')">{{index $s 1}}</a></li>
                                <li class="divider"></li>
                            {{ end }}
                          </ul>
                        </li>
                    {{ else }}
                        <li><a href="#/" onClick="get_page_data('{{index $proj 0}}')">{{index $proj 1}}</a></li>
                    {{ end }}
                {{ end }} 

              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>

