<!DOCTYPE html>
<html>
  <head>
    <title>CoinCulture</title>
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet">
    <script type="text/javascript" src="/assets/js/wiki.js?a=271"></script>

  </head>
 
    {{ if .Page.IsGlossary}}
    <body onload="load_all_bubbles();">
    {{ else }}
    <body>
    {{ end }}
    <div class="container">
      <img id="logo" src="/imgs/logo.png" class="img-responsive img-round" alt="Responsive image">

      <!-- load nav bar -->
      {{template "nav.html" .}}

      <!-- left column (recent posts) -->
      <div id="col-recent-posts" class="col-md-3">
          <h5>Recent Posts</h5>
          <ul>
              {{range $i, $n := .Globals.RecentPosts}}
              <li><a href="{{index $n 1}}">{{index $n 0}}</a></li>
              {{ end }}
          </ul>
      </div>

      <!-- center column (main text) -->
      <div id="col-main" class="col-md-6">
          <h3 id="main-title">{{ .Page.Title }}</h3>
          <div id="main-text">
            {{ .Page.Text }} 
          </div>
          
          <!-- disqus commenting system. can it really be this easy?!?! -->
          {{ if .Page.IsDisqus }}
              <div id="disqus_thread"></div>
              <script type="text/javascript">
                  /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
                  var disqus_shortname = '{{ .Globals.Config.Disqus }}'; // required: replace example with your forum shortname

                  /* * * DON'T EDIT BELOW THIS LINE * * */ // ok ;)
                  (function() {
                      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                      dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                  })();
              </script>
              <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
              <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
          {{ end }}
      </div>

      <!-- right column (bubbles) -->
      <div id="col-bubbles" class="col-md-3">
        <div id="workflow">
          {{template "bubbles.html" .}}
        </div>
      </div>
    </div>

    {{template "footer.html" .}}
 
  </body>
    <!--load js at end because page loads faster
        jquery needed for bootstrap dropdowns ... 
        I should probably just learn jquery-->
    <script src="/assets/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
</html>
